

#bottom {
    position:absolute;
    bottom:0;
    width:100%;
    color: lawngreen;
}

header,
footer {
    background-color: cornflowerblue;
    border: solid 2px whitesmoke;
    color: white;
    font: Papyrus;
    font-weight: bold;
    align-content: center;
    margin: auto;
    overflow: hidden;


}


#bottom {
    position:absolute;
    bottom:0;
    width:100%;
}


body {

    font-style: normal;
    background-color: lightpink;
    color: darkblue;
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;			/* Height of the footer */
    background:#6cf;
}


.h2 {
    color: darkblue;
    size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#footer{
    position: absolute;
    

}