
header,
footer {
    background-color: cornflowerblue;
    border: solid 2px whitesmoke;
    color: white;
    font: Papyrus;
    font-weight: bold;
    align-content: center;
    margin: auto;
    overflow: hidden;


}

body {

    font-style: normal;
    background-color: lightpink;
    color: darkblue;
}

.h2 {
    color: darkblue;
    size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer{
    position: absolute;
    margin: 0;

}