header,
footer {
    background-color: lightblue;
    border: solid 1px black;
    color: rgb(224, 21, r);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {

    font-style: italic;
}

.flex-container {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.Box-1 {
    padding: 2em;
    font: 300;
    width: 45%;
    overflow: hidden;
    margin: 5px;
    text-align: justify;

}

.Box-1 img{
    width:100%;
    height: auto;
}
.Box-2 {
    padding: 2em;
    color: chartreuse;
        width: 45%;
    margin:5px;
    text-align: justify;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.resources {
    padding: 3em;
    background-color: blue;
    color: white;
    border: 2px solid red;
    margin: 3px;
    border-radius: 100%;
}

@media screen and (min-width: 800px) {
    section .row {
        max-width: 800px;
        margin: auto;
        display: flex;
        justify-content: space-between;

    }

}