blockquote {
    margin: 20px;
}

header, footer {
    background-color: cornflowerblue;
    border: solid 2px whitesmoke;
    color: white;
    font: Papyrus;
    font-weight: bold;
    align-content: center;
    margin: auto;
    overflow: hidden;
}

body {
    font-style: normal;
    background-color: lightpink;
}

.flex-container {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    flex-direction: column;
}

.Box-1 {
    padding: 2em;
    font: 300;
    color: darkblue;
    overflow: hidden;
    margin: 5px;
    text-align: justify;
    background-color: whitesmoke;
    border: 10px cornflowerblue;
    border-style: solid;
    flex-basis: 50%;
}

.Box-1 img {
    width: 80%;
    height: auto;
    align-content: center;
    border: 10px cornflowerblue;
    border-style: solid;
}

.Box-1 h2 {
    position: center;
    color: darkblue;
}

.frame {
    width: auto;
}

.Box-2 {
    padding: 2em;
    font: 300;
    color: darkblue;
    overflow: hidden;
    margin: 5px;
    text-align: justify;
    background-color: whitesmoke;
    border: 10px cornflowerblue;
    border-style: solid;
    flex-basis: 50%;
}

.Box-2 img {
    width: 80%;
    size: 150px;
    align-content: center;
    border: 10px cornflowerblue;
    border-style: solid;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: auto;
    margin: 2em;
    font-size: smaller;
}

.resources {
    padding: 1em;
    border-radius: 200%;
    background-color: cornflowerblue;
    color: whitesmoke;
    font-size: larger;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid;
    align-content: center;
    justify-content: center;
    display: inline-block;
    width: 4em;
}

.win {
    display: flex;
    justify-content: center;
    margin: 30px 30px 30px 30px;
    flex-wrap: wrap;
    margin: 2em;
}

.win-session {
    padding: 1em;
    border-radius: 200%;
    background-color: cornflowerblue;
    color: whitesmoke;
    font-weight: bold;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid;
    margin-top: auto;
    margin-bottom: 0vmax;
    text-align: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}

h2 {
    font-style: normal;
    color: darkblue;
    align-content: space-around;
    justify-content: end;
}

.table, th, td {
    border: 1px solid black;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

table {
    border-spacing: 5px;
}

tr:nth-of-type(odd) {
    background-color: rebeccapurple;
}

tr:nth-of-type(even) {
    background-color: rgba(128, 197, 119, 0.521);
}

h2 {
    font-style: normal;
    color: darkblue;
    align-content: center;
    justify-content: space-between;
}
/*
@media screen and (min-width: 769px) {
    section .row {
        max-width: 800px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    .buttons {
        flex-direction: row;
    }
}*/

@media screen and (min-width: 992px) {
    .row {
        width: 500%;
    }
    .flex-container {
        flex-direction: row;
    }
}

#myDIV {
    width: 50%;
    padding: 50px 0;
    text-align: center;
    background-color: rebeccapurple;
    margin-top: 20px;
}

#resume {
    color: white;
}

#order {
    color: white;
}

#testimonials {
    color: white
}

#projects {
    color: white;
}

#winsession {
    color: white;
}

@media screen and (min-width: 40em) {
    article {
        display: grid;
        grid-template-columns: 3fr 1fr;
        column-gap: 20px;
    }
}

@media screen and (max-width: 600px) {
    body {
        background-color: lemonchiffon;
    }
}

@media screen and (max-width: 500px) {
    .win {
        text-overflow: ellipsis;
    }
}
