


body {
  
  background-color: lightpink;
}

h2{
  
  color:darkblue;
  font-size: large;
  text-align:inherit;
}

p{
  font-style:italic;
  font-size: larger;
  font-weight: bold;

}

.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  width: 100%;
 

…

</table>
}
  
}

table,
th,
td {
  border: 1px solid black;
  font-family: 'Courier New', Courier, monospace;
  width: fit-content;
  
}

table,
th,
td {
  border: 1px solid black;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
}

table {
  border-spacing: 5px;
}

tr:nth-of-type(odd) {
  background-color: rebeccapurple;

}

tr:nth-of-type(even) {
  background-color: rgba(128, 197, 119, 0.521);

}






.myDIV {
  width: 20%;
  padding: 20px 0;
  text-align: center;
  background-color: rebeccapurple;
  margin-top: 10px;
}